
body{
margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;
text-align:center
}
.navbar{
background:black;
padding:20px
}
.navbar span{
color:#1e90ff
}
.navbar a{
color:white;
margin:10px;
text-decoration:none
}
.page{
padding:40px
}
.page img{
width:80%;
max-width:600px;
margin:20px auto;
display:block;
border-radius:10px
}
table{
margin:auto;
border-collapse:collapse;
width:80%
}
th,td{
border:1px solid #333;
padding:10px
}
th{
background:#1e90ff
}
form{
max-width:400px;
margin:auto
}
input,textarea{
width:100%;
padding:10px;
margin-bottom:15px
}
button{
padding:10px;
background:#1e90ff;
border:none;
color:white
}
footer{
background:black;
padding:15px
}
